@import url('./global.css');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 124px;
    background-color: var(--color-pink);
}

.nav-header ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-header-item {
    font-size: var(--font-size-b-large);
    font-family: var(--font-family-montserrat);
    font-weight: bold;
    color: var(--color-dark);
    text-decoration: none;
    transition: 0.5s;
}

.nav-header-item:hover {
    color: var(--color-red);
}

.btn-header-talk {
    color: var(--color-white);
    background-color: var(--color-dark);
    padding: 12px 24px;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.btn-header-talk:hover {
    background-color: var(--color-red);
    border-radius: 25px;
}

.nav-header ul li {
    transition: 0.5s;
}

.nav-header ul li:hover {
    transform: scale(1.02);
}