@import url("./global.css");

.section-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 124px;
    background-color: var(--color-pink);
}

.content-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.content-portfolio h2 {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-heading3);
    font-weight: bold;
    line-height: 150%;
}

.content-portfolio p {
    width: 810px;
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    line-height: 150%;
}

.container-portfolio {
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 64px;
}

.card-portfolio {
    display: flex;
    flex-direction: column;
    gap: 32px;
    border-radius: 3px;
    transition: 0.5s;
}

.card-portfolio:hover {
    transform: translateY(-5px);
    box-shadow: 2px 1px var(--color-d-grey);
}

.content-card-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.description-card-portfolio {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description-card-portfolio h3 {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-xlarge);
    font-weight: bold;
    line-height: 150%;
}

.description-card-portfolio p {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-small);
    line-height: 150%;
}

.btn-portfolio {
    transition: 0.5s;
}

.btn-portfolio:hover {
    opacity: 0.85;
}