@import url(./global.css);

body{
    background-color: var(--color-pink);
}
.section-contact{
    display: flex;
    padding: 124px 0;
    gap: 60px;
    justify-content: center;
}

.container-contact{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.content-contact{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-contact h2{
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-heading3);
    width: 566px;
    line-height: 150%;
}

.content-contact p{
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    width: 566px;
    line-height: 150%;
}

.contact-js-design{
    display: flex;
    flex-direction: column;
    gap: 119px ;
}

.js-design{
display: flex;
flex-direction: column;
gap: 32px;
}

.contact{
    display: flex;
    gap: 16px;
}

.contact p{
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    width: 291;
}

.social-midia{
    display: flex;
    gap: 24px;
}

.conatiner-email{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.conatiner-email input{
    padding: 14px 474px 14px 16px ;
}

.active-email input {
    padding:  14px 474px 134px 16px;
}

.send{
    display: flex;
    gap: 32px;
}

.send a{
    padding: 12px 56px;
    background-color: var(--color-dark);
    color: var(--color-white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    text-decoration: none;
}




