@import url(global.css);

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 124px;
    background-color: var(--color-pink);
}

.nav-header ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-header-item {
    font-size: var(--font-size-b-large);
    font-family: var(--font-family-montserrat);
    font-weight: bold;
    color: var(--color-dark);
    text-decoration: none;
    transition: 0.5s;
}

.nav-header-item:hover {
    color: var(--color-red);
}

.btn-header-talk {
    color: var(--color-white);
    background-color: var(--color-dark);
    padding: 12px 24px;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.btn-header-talk:hover {
    background-color: var(--color-red);
    border-radius: 25px;
}

.nav-header ul li {
    transition: 0.5s;
}

.nav-header ul li:hover {
    transform: scale(1.02);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 124px;
    gap: 48px;
    background-color: var(--color-pink);
}

.content-main {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.container-main {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.span-main {
    display: flex;
    align-self: self-start;
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-xlarge);

}

h1 {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-weight: bold;
    font-size: var(--font-size-heading2);
    width: 457px;
    line-height: 150%;
}

.span-h1 {
    color: var(--color-red);
}

.container-main p {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    width: 457px;
    line-height: 150%;
}

.nav-main {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-main-hire {
    background-color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
    gap: 20px;
    padding: 12px 56px;
    transition: 0.3s;
}

.btn-main-hire:hover {
    background-color: var(--color-red);
}

.btn-main-portfolio {
    background-color: var(--color-white);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    font-weight: bold;
    color: var(--color-dark);
    text-decoration: none;
    gap: 20px;
    padding: 12px 36px;
    border: 1px solid var(--color-dark);
    transition: 0.3s;
}

.btn-main-portfolio:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
}

.section-about {
    padding: 64px 80px 188px;
    background-color: var(--color-dark);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about-content {
    font-family: var(--font-family-montserrat);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.about-content h2 {
    font-weight: bold;
    font-size: var(--font-size-heading3);
}

.about-content p {
    width: 810px;
    font-size: var(--font-size-b-medium);
    line-height: 150%;
}

.about-numbers {
    font-family: var(--font-family-montserrat);
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap: 64px;
}

.about-numbers-card h3 {
    font-size: var(--font-size-heading1);
    font-weight: bold;
    color: var(--color-pink);
    line-height: 150%;
}

.about-numbers-card p {
    color: var(--color-white);
    font-size: var(--font-size-b-large);
    font-weight: bold;
}

.section-services {
    padding: 64px 124px;
    line-height: 150%;
}

.services-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.services-content {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    font-family: var(--font-family-montserrat);
}


.services-content p {
    width: 810px;
    line-height: 150%;
}

.services-container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family-montserrat);
    gap: 32px;
}


.services-card-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.services-card-content h3 {
    font-size: var(--font-size-b-large);
    font-weight: bold;
}

.services-card-content p {
    width: 242px;
    font-size: var(--font-size-b-small);
}

.icon-services {
    align-self: self-start;
}

.section-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 124px;
    background-color: var(--color-pink);
}

.content-portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.content-portfolio h2 {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-heading3);
    font-weight: bold;
    line-height: 150%;
}

.content-portfolio p {
    width: 810px;
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    line-height: 150%;
}

.container-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 64px;
}

.card-portfolio {
    display: flex;
    flex-direction: column;
    gap: 32px;
    transition: 0.5s;
}

.card-portfolio:hover {
    transform: translateY(-5px);
    box-shadow: 2px 1px 5px 0 var(--color-red);
}

.content-card-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 3px 0 0;
}

.description-card-portfolio {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.description-card-portfolio h3 {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-xlarge);
    font-weight: bold;
    line-height: 150%;
}

.description-card-portfolio p {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-small);
    line-height: 150%;
}

.btn-portfolio {
    transition: 0.5s;
}

.btn-portfolio:hover {
    transform: translate(3px, -3px);
}

.section-desing {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 90px 124px;
    background-color: var(--color-grey);
}

.content-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

.content-design h2 {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-heading3);
    font-weight: bold;
    line-height: 150%;
}

.content-design p {
    width: 799px;
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    line-height: 150%;
}

.container-design {
    display: flex;
    justify-content: space-between;
    width: 1192px;
}

.card-design {
    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: var(--color-white);
    transition: 0.5s;
}

.card-design:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px 0 var(--color-m-grey);
}

.content-card-design {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px 16px 16px 16px;
    height: 192px;
}

.group-card-design {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-design {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-xsmal);
    line-height: 150%s;
}

.group-card-design h3 {
    width: 304px;
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    font-weight: bold;
    line-height: 150%;
}

.group-card-design p {
    width: 304px;
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-small);
    line-height: 150%;
}

.read-more-design {
    display: flex;
    align-items: center;
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-xsmal);
    font-weight: bold;
    text-decoration: none;
    line-height: 150%;
}

.arrow-design {
    transition: 0.5s;
}

.read-more-design:hover {
    .arrow-design {
        transform: translateX(5px);
    }
}

.section-contact {
    display: flex;
    padding: 124px 0;
    gap: 60px;
    justify-content: center;
    background-color: var(--color-pink)
}

.container-contact {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.content-contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-contact h2 {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-heading3);
    width: 566px;
    line-height: 150%;
}

.content-contact p {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    width: 566px;
    line-height: 150%;
}

.contact-js-design {
    display: flex;
    flex-direction: column;
    gap: 119px;
}

.js-design {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact {
    display: flex;
    gap: 16px;
}

.contact p {
    color: var(--color-dark);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-medium);
    width: 291;
}

.social-midia {
    display: flex;
    gap: 24px;
}

.conatiner-email {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 566px;
}

.conatiner-email input {
    height: 49px;
    padding: 14px 16px;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-small);

}

.active-email textarea {
    width: 566px;
    height: 168px;
    padding: 13px 16px;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-small);
}

.send {
    display: flex;
    gap: 32px;
}

.send button {
    padding: 12px 56px;
    background-color: var(--color-dark);
    color: var(--color-white);
    font-family: var(--font-family-montserrat);
    font-weight: bold;
    font-size: var(--font-size-b-medium);
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.send button:hover {
    background-color: var(--color-red);

}

footer {
    background-color: var(--color-dark);
    padding: 80px 0px;
}

.conatiner-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.container-follow-us {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px
}

.content-footer {
    display: flex;
    gap: 32px;
}

.content-footer a {
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-b-xlarge);
    font-weight: bold;
    transition: 0.3s;
}

.content-footer a:hover {
    transform: scale(1.02);
    color: var(--color-red);
}


.conteiner-social-midia-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.content-social-midia-footer p {
    color: var(--color-white);
    font-size: var(--font-size-b-medium);
    font-family: var(--font-family-montserrat);
}

.footer-midia-social {
    display: flex;
    gap: 32px;
}